<template name="events">
    <div class="events">
        {{#each events}}
            {{>event}}
        {{/each}}
    </div>
    <div>
        <div class="top">
            <button class="btn btn-raised btn-event trigger"><strong>Add a new event</strong></button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="middle">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <form class="form-horizontal">
                                <div class="form-group row sizing label-placeholder form-div">
                                    <label class="control-label col-sm-1 title-label special" for="1">TITLE</label>
                                    <div class="col-sm-11">
                                        <input class="form-control title-input" id="1" type="text">
                                    </div>
                                </div>
                                <div class="form-group row sizing label-placeholder form-div">
                                    <label class="control-label sizing col-sm-1 title-label" for="2">STEPS</label>
                                    <div class="col-sm-12">
                                        <input class="form-control step-input" id="2" type="text">
                                    </div>
                                    <button class="btn btn-flat btn-more-steps"><i class="material-icons">add</i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom"></div>
    </div>
</template>