<template name="events">
    <div class="row event-form-top">
        <div class="col-xs-11">
            <div class="row">
                <div class="col-xs-12">
                    <div class="events">
                        {{#if Template.subscriptionsReady }}
                            {{#each events}}
                                {{>event}}
                            {{/each}}
                        {{else}}
                            <img class="loading col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-4" src="../../../loading.svg">
                        {{/if}}
                    </div>
                    <div class="top">
                        <button class="btn btn-raised btn-event trigger {{#unless Template.subscriptionsReady}}hidden{{/unless}}"><strong>Add a new event</strong></button>
                    </div>
                    <div class="middle">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <form class="form-horizontal add-new-form">
                                    <div class="form-group row sizing label-placeholder form-div">
                                        <label class="control-label col-sm-1 title-label special" for="1" style="text-align: left">TITLE</label>
                                        <div class="col-xs-11 event-div">
                                            <input class="form-control title-input" id="1" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row sizing label-placeholder form-div">
                                        <label class="control-label sizing col-sm-1 title-label" for="2" style="text-align: left">STEPS</label>
                                        <div class="col-xs-11 event-div">
                                            <input class="form-control step-input" id="2" type="text">
                                        </div>
                                        <div class="col-xs-11 event-div ">
                                            <input class="form-control step-input" id="3" type="text">
                                        </div>
                                        <div class="col-xs-11 event-div">
                                            <input class="form-control step-input" id="4" type="text">
                                        </div>
                                        <button class="btn btn-flat btn-more-steps pull-left"><i class="material-icons">add</i></button>
                                        <div class="time-div row">
                                            <div class="col-xs-12">
                                                <label class="control-label sizing col-sm-1 col-xs-12 title-label" for="start" style="text-align: left">START</label>
                                                <div class="step-input-container col-md-2 col-sm-5 col-xs-7">
                                                    <input class="form-control step-input" id="start" placeholder="HH:MM" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="time-div row">
                                            <div class="col-xs-12">
                                                <label class="control-label sizing col-sm-1 col-xs-12 title-label" for="end" style="text-align: left">END</label>
                                                <div class="step-input-container col-md-2 col-sm-5 col-xs-7">
                                                    <input class="form-control step-input" id="end" placeholder="HH:MM" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-flat btn-add-new col-xs-12 col-sm-1">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom"></div>
        </div>
    </div>
</template>