<template name="header">
    <div class="row">
        <div class="col-xs-12">
            <div id="header" class="row">
                <div class="col-md-5 col-xs-4">
                    <a href="" id="menu-toggle" class="btn btn-default btn-flat btn-header">MENU</a>
                </div>
                <div class="col-xs-7">
                    <span class="title-span">
                        <h4 class="title-header text-uppercase">
                            {{ title currentRouteName }}
                        </h4>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>