<template name="sidebar">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="title">
                    DAY PLANNER
                </a>
            </li>
            {{#if not_equal currentRouteName 'calendar'}}
                <li>
                    <a href={{pathFor 'calendar'}}>Calendar</a>
                </li>
            {{/if}}
            <li>
                <a href="">Settings</a>
            </li>
            <li>
                <a href="">Logged in as {{ username }}</a>
            </li>
            <li>
                <a href="">Log out</a>
            </li>
        </ul>
    </div>
</template>